.resto-header {
    height: 92px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.resto-header__logo--img {
    height: 100%;
    cursor: pointer;
}

.resto-header__right-actions {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    padding-right: 28px;
}

.resto-header__right-actions > li {
    cursor: pointer;
}

.resto-food-card {
    border: 1px solid black;
    width: 200px;
    padding: 8px;
}

.resto-food__search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}
.resto-food-card__img {
    height: 240px;
    width: 100%;
}
.resto-food__restaurant-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
}