.resto-header {
    height: 92px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.resto-header__logo--img {
    height: 100%;
    cursor: pointer;
}

.resto-header__right-actions {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    padding-right: 28px;
}

.resto-header__right-actions > li {
    cursor: pointer;
}

.resto-food-card {
    border: 1px solid black;
    width: 200px;
}

.resto-food-card--img {
    height: 100%;
    width: 100%;
}